S3method(plot,lt_matrix)
export(lt_annotate_splitaligner)
export(lt_plot_splitaligner)
export(lt_marine_profile)
export(lt_run_marine)
export(lt_s2_gloocv)
export(lt_run_marine_m2)
export(lt_export_marine_tables)
export(lt_run_s2)
export(lt_import)
export(lt_read_trait)
export(lt_read_groups)
export(lt_read_folds)
export(lt_binary_recipes)
export(lt_run_binary)
export(lt_read_binary_run)
export(lt_report_binary)
export(lt_plot_binary)
S3method(print,lt_binary_result)
S3method(summary,lt_binary_result)
S3method(print,lt_analysis_spec)
S3method(print,lt_association)
S3method(print,lt_association_domain)
S3method(print,lt_branch_state)
S3method(print,lt_branch_state_ensemble)
S3method(print,lt_calibration)
S3method(print,lt_calibration_adjustment)
S3method(print,lt_calibration_spec)
S3method(print,lt_c3_domain)
S3method(print,lt_c3_fit)
S3method(print,lt_c2_domain)
S3method(print,lt_c2_fit)
S3method(print,lt_domain)
S3method(print,lt_diagnostic)
S3method(print,lt_matrix)
S3method(print,lt_qc_spec)
S3method(print,lt_rate_spec)
S3method(print,lt_rate)
S3method(print,lt_rate_diagnostic)
S3method(print,lt_log_relative)
S3method(print,lt_logGBI_encoded)
S3method(print,lt_boundary_association)
S3method(print,lt_boundary_calibration)
S3method(print,lt_log_relative_result)
S3method(as.numeric,lt_log_relative)
S3method(as.double,lt_log_relative)
S3method(as.matrix,lt_log_relative)
S3method(as.matrix,lt_logGBI_encoded)
S3method(mean,lt_log_relative)
S3method(t.test,lt_log_relative)
S3method(t.test,lt_logGBI_encoded)
S3method(component,lt_boundary_association)
S3method(component,lt_boundary_calibration)
S3method(print,lt_run)
S3method(print,lt_trait)
export(lt_allowed_states)
export(lt_audit_fingerprint)
export(lt_analysis_spec)
export(lt_associate_univariate)
export(lt_association_domain)
export(lt_branch_state)
export(lt_branch_state_ensemble)
export(lt_calibration_spec)
export(lt_calibrate_association)
export(lt_adjust_calibration)
export(lt_c3_control)
export(lt_c3_domain)
export(lt_c3_existence_states)
export(lt_c3_fit)
export(lt_c3_support)
export(lt_c2_control)
export(lt_c2_domain)
export(lt_c2_fit)
export(lt_c2_sensitivity)
export(lt_apply_qc)
export(lt_domain)
export(lt_empty_provenance)
export(lt_manifest_schema)
export(lt_matrix)
export(lt_set_display_labels)
export(lt_measurement_eligibility)
export(lt_qc_matrix)
export(lt_qc_spec)
export(lt_rate_spec)
export(lt_rate_dependency_status)
export(lt_rate)
export(lt_log_relative)
export(validate_lt_log_relative)
export(ratio_state)
export(unavailability_reason)
export(exact_zero)
export(ratio_availability)
export(positive_log_availability)
export(positive_log_values)
export(lt_log_relative_dependency_status)
export(lt_migrate_logGBI)
export(logGBI_encoded)
export(validate_lt_logGBI_encoded)
export(validate_lt_logGBI_encoded_source)
export(validate_legacy_logGBI_replay)
export(lt_encoded_values)
export(lt_associate_log_relative)
export(validate_lt_boundary_association)
export(component)
export(lt_calibrate_log_relative)
export(lt_calibrate_logGBI_encoded)
export(validate_lt_boundary_component_calibration)
export(validate_lt_boundary_calibration)
export(lt_adjust_log_relative)
export(lt_adjust_logGBI_encoded)
export(lt_diagnose_rate)
export(lt_rate_common_domain)
export(lt_rate_ledger)
export(lt_rate_reason)
export(lt_compare_rate_pair)
export(lt_common_association_domain)
export(lt_c3_c2_compare)
export(lt_read_config)
export(lt_read_object)
export(lt_run)
export(lt_trait)
export(lt_write_config)
export(lt_write_object)
export(validate_lt_analysis_spec)
export(validate_lt_association)
export(validate_lt_association_domain)
export(validate_lt_branch_state)
export(validate_lt_branch_state_ensemble)
export(validate_lt_calibration_spec)
export(validate_lt_calibration)
export(validate_lt_calibration_adjustment)
export(validate_lt_c3_certificate)
export(validate_lt_c3_domain)
export(validate_lt_c3_fit)
export(validate_lt_c2_domain)
export(validate_lt_c2_fit)
export(validate_lt_config)
export(validate_lt_domain)
export(validate_lt_diagnostic)
export(validate_lt_matrix)
export(validate_lt_measurement_eligibility)
export(validate_lt_qc_spec)
export(validate_lt_provenance)
export(validate_lt_rate_spec)
export(validate_lt_rate)
export(validate_lt_rate_diagnostic)
export(validate_lt_rate_dependency)
export(validate_lt_frozen_snapshot)
export(validate_lt_rate_common_domain)
export(validate_lt_run)
export(validate_lt_trait)
export(lt_same_frozen_snapshot)
export(lt_read_splitaligner_exchange)
export(validate_lt_trait_domain)
importFrom(stats,aggregate)
importFrom(stats,t.test)
